.header__logo {
  max-width: 142px;
  max-height: 33px;
  object-fit: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-left: 27px;
  }
}