.header {
  max-width: 880px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 100%;
    margin-bottom: 42px;
    padding-bottom: 30.9px;
  }
} 